<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->


  <!-- ======= Sidebar ======= -->
  <div class="row ">
    <div class="col-lg-3">
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
          <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/logo.png" alt="" width="">
            </a>
          </div><!-- End Logo -->

          <li class="nav-item">
            <a class="nav-link " href="index.html">
              <i class="bi bi-house-door-fill"></i><span>Home</span>
            </a>
          </li><!-- End Dashboard Nav -->


          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-compass"></i><span>Explore</span>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="forms-elements.html">
                  <i class="bi bi-circle"></i><span>Form Elements</span>
                </a>
              </li>
              <li>
                <a href="forms-layouts.html">
                  <i class="bi bi-circle"></i><span>Form Layouts</span>
                </a>
              </li>
              <li>
                <a href="forms-editors.html">
                  <i class="bi bi-circle"></i><span>Form Editors</span>
                </a>
              </li>
              <li>
                <a href="forms-validation.html">
                  <i class="bi bi-circle"></i><span>Form Validation</span>
                </a>
              </li>
            </ul>
          </li><!-- End Forms Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-youtube"></i><span>Reels</span>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="tables-general.html">
                  <i class="bi bi-circle"></i><span>General Tables</span>
                </a>
              </li>
              <li>
                <a href="tables-data.html">
                  <i class="bi bi-circle"></i><span>Data Tables</span>
                </a>
              </li>
            </ul>
          </li><!-- End Tables Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-chat-heart"></i><span>Messages</span>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="charts-chartjs.html">
                  <i class="bi bi-circle"></i><span>Chart.js</span>
                </a>
              </li>
              <li>
                <a href="charts-apexcharts.html">
                  <i class="bi bi-circle"></i><span>ApexCharts</span>
                </a>
              </li>
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>ECharts</span>
                </a>
              </li>
            </ul>
          </li><!-- End Charts Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-heart"></i><span>Notification</span>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="icons-bootstrap.html">
                  <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                </a>
              </li>
              <li>
                <a href="icons-remix.html">
                  <i class="bi bi-circle"></i><span>Remix Icons</span>
                </a>
              </li>
              <li>
                <a href="icons-boxicons.html">
                  <i class="bi bi-circle"></i><span>Boxicons</span>
                </a>
              </li>
            </ul>
          </li><!-- End Icons Nav -->

          <li class="nav-heading">Pages</li>

          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>Profile</span>
            </a>
          </li><!-- End Profile Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>F.A.Q</span>
            </a>
          </li><!-- End F.A.Q Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="pages-contact.html">
              <i class="bi bi-envelope"></i>
              <span>Contact</span>
            </a>
          </li><!-- End Contact Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="pages-register.html">
              <i class="bi bi-card-list"></i>
              <span>Register</span>
            </a>
          </li><!-- End Register Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="pages-login.html">
              <i class="bi bi-box-arrow-in-right"></i>
              <span>Login</span>
            </a>
          </li><!-- End Login Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="pages-error-404.html">
              <i class="bi bi-dash-circle"></i>
              <span>Error 404</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="pages-blank.html">
              <i class="bi bi-file-earmark"></i>
              <span>Blank</span>
            </a>
          </li><!-- End Blank Page Nav -->

        </ul>

      </aside>
    </div>
    <!-- /////End sidebar -->

    <div class="col-lg-8">

      <main id="main" class="main">
        <section>

        </section>
        <section class="section dashboard">
          <div class="row">
            <% users.forEach((user)=>{ %>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog ">
                  <div class="modal-content ">
                    <div class="modal-header">
                      <!-- Story in model strt -->
                      <div class="row justify-content-center ">
                        <div class="col-lg-4">
                          <div class="model-story-img">
                            <img src="<%= user.img %>" alt="Profile" class="rounded-circle border"
                              data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="d-flex justify-content-center align-items-center">
                            <h2 class="model-story-fs me-3">
                              <%= user.name %>
                                <% if(user.isVerified){ %>
                                  <svg aria-label="Verified" class="x1lliihq x1n2onr6" fill="rgb(0, 149, 246)"
                                    height="12" role="img" viewBox="0 0 40 40" width="12">
                                    <title>Verified</title>
                                    <path
                                      d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z"
                                      fill-rule="evenodd"></path>
                                  </svg>
                                  <% } %>
                            </h2>
                            <div class="btn-group mb-4" role="group" aria-label="Basic mixed styles example">
                              <button type="button" class="btn btn-color me-2">Following</button>
                              <button type="button" class="btn btn-color me-2">Messages</button>
                              <button type="button" class="btn btn-color"><i
                                  class="bi bi-person-plus-fill fs-6"></i></button>
                            </div>
                          </div>
                          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <h1 class="fs-6 me-3">33 <span class="fs-6 fw-bold">Post</span> </h1>
                            <h2 class="fs-6 me-3">1,705 <span class="fs-6 fw-bold">Follwers</span> </h2>
                            <h3 class="fs-6">1,205 <span class="fs-6 fw-bold">Following</span></h3>
                          </div>
                        </div>
                      </div>
                      <!-- Story in model end -->
                      <button type="button" class="fs-6 btn-close m-0" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
              <%})%>
                <!-- Left side columns -->
                <div class="col-lg-8">
                  <swiper-container class="mySwiper mb-3" navigation="true" space-between="" slides-per-view="7">
                    <% users.forEach((user)=>{ %>
                      <swiper-slide class="story">
                        <div class="story-item">
                          <div class="story-img">
                            <img src="<%= user.img %>" alt="Profile" class="rounded-circle border"
                              data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="setImages('<%= user.img %>', '<%= user.isVerified %>')">
                          </div>
                          <div class="">
                            <h2 class="story-fs">
                              <%= user.name %>
                                <% if(user.isVerified){ %>
                                  <svg aria-label="Verified" class="x1lliihq x1n2onr6" fill="rgb(0, 149, 246)"
                                    height="12" role="img" viewBox="0 0 40 40" width="12">
                                    <title>Verified</title>
                                    <path
                                      d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z"
                                      fill-rule="evenodd"></path>
                                  </svg>
                                <% } %>
                            </h2>
                          </div>
                        </div>
                      </swiper-slide>
                      <%})%>

                        <!-- <swiper-slide class="story">
                  <div class="story">
                      <img src="assets/img/riya.jpg" alt="Profile" class="rounded-circle border">
                      <h2 class="story-fs">riyabhakta08</h2>
                    <div class=" text-center">
                    </div>
                  </div>
                </swiper-slide>
                <swiper-slide class="story">
                  <div class="story ">
                    <img src="assets/img/icity.jpg" alt="Profile" class="rounded-circle border">
                    <div class="">
                      <h2 class="story-fs">iamsuratcity</h2>
                    </div>
                  </div>
                </swiper-slide>
                <swiper-slide class="story">
                  <div class="story ">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle border">
                    <div class="">
                      <h2 class="fs-6">__nh.__ </h2>
                    </div>
                  </div>
                </swiper-slide>
                <swiper-slide class="story">
                  <div class="story ">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle border">
                    <div class="">
                      <h2 class="fs-6">__nh.__ </h2>
                    </div>
                  </div>
                </swiper-slide>
                <swiper-slide class="story">
                  <div class="story ">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle border">
                    <div class="">
                      <h2 class="fs-6">__nh.__ </h2>
                    </div>
                  </div>
                </swiper-slide>
                <swiper-slide class="story">
                  <div class="story ">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle border">
                    <div class="">
                      <h2 class="fs-6">__nh.__ </h2>
                    </div>
                  </div>
                </swiper-slide>
                <swiper-slide class="story">
                  <div class="story ">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle border">
                    <div class="">
                      <h2 class="fs-6">__nh.__ </h2>
                    </div>
                  </div>
                </swiper-slide> -->

                  </swiper-container>


                  <div class="row">

                    <!-- Customers Card -->
                    <section class="section ">
                      <div class="row justify-content-center">

                        <div class="col-lg-12">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Parul Univercity

                                <svg aria-label="Verified" class="x1lliihq x1n2onr6" fill="rgb(0, 149, 246)" height="12"
                                  role="img" viewBox="0 0 40 40" width="12">
                                  <title>Verified</title>
                                  <path
                                    d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z"
                                    fill-rule="evenodd"></path>
                                </svg>
                              </h5>

                              <!-- Line Chart -->

                              <!-- End Line CHart -->

                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!-- End Customers Card -->



                  </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">

                  <div id="header" class="header d-flex align-items-center mb-1">


                    <nav class="header-nav">
                      <ul class="d-flex align-items-center justify-content-between">

                        <li class="nav-item dropdown pe-3 w-100 ">
                          <a class="nav-link nav-profile d-flex align-items-center justify-content-between pe-0"
                            href="#" data-bs-toggle="dropdown">
                            <div>
                              <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle ">
                            </div>
                            <div class="my-profile ms-1">
                              <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">i.m.viks</h2>
                              <span class="d-none d-md-block dropdown-toggle ps-2 fw-semibold"> Vikas Borse</span>
                            </div>
                            <div class="">
                            </div>
                          </a><!-- End Profile Iamge Icon -->

                        </li><!-- End Profile Nav -->
                        <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info ms-5"> Switch</h2>

                      </ul>
                    </nav>

                  </div>
                  <!-- Recent Activity -->

                  <div class="card">
                    <div class="filter">
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>
                    <!-- Right Profile Information Start -->
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">

                        <h5 class="card-title">Suggested for you </h5>
                        <span class="card-title"> See All</span>

                      </div>
                      <!-- User 1 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center justify-content-between">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/om.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">ओमप्रकाS ⚡</h2>
                                <span class="d-none d-md-block dropdown-toggle ps-2 fw-semibold">Omprakash Jat</span>
                              </div>
                              <div class="ms-5">
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->
                          <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info"> Follow</h2>

                        </ul>
                      </nav>
                      <!-- User 2 -->
                      <nav class="header-nav mb-4 justify-content-between">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/sam.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">samalexe791</h2>
                                <span class="d-none d-md-block dropdown-toggle ps-2 fw-semibold"> Fashion Model</span>
                              </div>
                              <div class="ms-5">
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->
                          <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info">Follow</h2>
                        </ul>
                      </nav>
                      <!-- User 3 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/bhavin.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">BM.25.7</h2>
                                <span class="d-none d-md-block dropdown-toggle ps-2 fw-semibold"> Bhavin Madhani
                                  ®</span>
                              </div>
                              <div class="ms-5">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info"> </h2>
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->

                        </ul>
                      </nav>
                      <!-- User 4 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/kash.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">__smarty__</h2>
                                <span class="d-none d-md-block ps-2 fw-semibold"> Kashyap</span>
                              </div>
                              <div class="ms-5">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info"> </h2>
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->

                        </ul>
                      </nav>
                      <!-- User 5 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/heet.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">_.morkar._</h2>
                                <span class="d-none d-md-block ps-2 fw-semibold">Heet Morker</span>
                              </div>
                              <div class="ms-5">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info"> </h2>
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->

                        </ul>
                      </nav>
                      <!-- User 6 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/priya.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">priyanshumishra356</h2>
                                <span class="d-none d-md-block ps-2 fw-semibold">PRIYANSHU MISHRA</span>
                              </div>
                              <div class="ms-5">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info"> </h2>
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->

                        </ul>
                      </nav>
                      <!-- User 7 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/anant.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">anantshah133</h2>
                                <span class="d-none d-md-block ps-2 fw-semibold">Anant Shah</span>
                              </div>
                              <div class="ms-5">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info"> </h2>
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->

                        </ul>
                      </nav>
                      <!-- User 8 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/monil.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">_monil7_</h2>
                                <span class="d-none d-md-block ps-2 fw-semibold">ŃÁĶŘÄŃÍ MÓŃÍĻ</span>
                              </div>
                              <div class="ms-5">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info"> </h2>
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->

                        </ul>
                      </nav>
                      <!-- User 9 -->
                      <nav class="header-nav mb-4">
                        <ul class="d-flex align-items-center">

                          <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                              <i class="bi bi-search"></i>
                            </a>
                          </li><!-- End Search Icon-->

                          <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                              data-bs-toggle="dropdown">
                              <div>
                                <img src="/assets/img/kevin.jpg" alt="Profile" class="rounded-circle ">
                              </div>
                              <div class="my-profile ms-1">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold">_mr.kevin_</h2>
                                <span class="d-none d-md-block ps-2 fw-semibold">Kevin Chauhan</span>
                              </div>
                              <div class="ms-5">
                                <h2 class="d-none d-md-block fs-6 ps-2 fw-bold text-info">Follow</h2>
                              </div>
                            </a><!-- End Profile Iamge Icon -->


                          </li><!-- End Profile Nav -->

                        </ul>
                      </nav>
                    </div>
                  </div>
                  <!-- Right Profile Information Start -->


                </div><!-- End Right side columns -->

          </div>
        </section>

      </main>
    </div><!-- End #main -->
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
      function setImages(imagePath){
        // console.log(imagePath)
        console.log(imagePath)
      }
  </script>
</body>

</html>